.createCardButton {
    width: 100%;
    background: none;
    color: #5e6c84;
    font-size: 14px;
    text-align: left;
    padding: 8px;
    border: none;
    border-radius: 2px;

    &:hover {
        background-color: #dadbe2;
        cursor: pointer;
    }

    .icon {
        font-size: 14px;
        margin-right: 3px;
    }
}
