.list {
    margin: 4px;
    padding: 8px;

    background-color: #ebecf0;
    border-radius: 2px;

    align-items: stretch;
    box-sizing: border-box;

    .title {
        display: flex;
        flex-wrap: nowrap;
        color: #172b4d;
        font-weight: 600;
        font-size: 14px;
        padding-left: 8px;

        .name {
            width: 100%;
            overflow: hidden;
            word-wrap: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .amountCards {
            font-weight: normal;
        }
    }
}
